body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  background: url("./img/page-bg.png");
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.animated {
  font-family: "Charm", cursive;
  margin: 0;
  padding: 0;
  font-size: 6rem;
  background: url("./img/text-bg.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 90s linear infinite;
  -webkit-animation: moveBg 90s linear infinite;
}

/* Text background animation */
@keyframes moveBg {
  0% {
    background-position: 0% 30%;
  }
  100% {
    background-position: 100% 50%;
  }
}
